<div xmlns:th="http://www.thymeleaf.org" th:fragment="loginPopup"
	class="modal fade" id="popUpWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- header -->
			<div class="modal-header">
				<h3 class="modal-title">Login Form</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- body -->
			<div class="modal-header">
				<form th:action='@{perform_login}' method="POST" name="f" id="f">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Login" name="username" /> <input
							type="password" class="form-control" placeholder="Password" name="password"/>
					</div>
				</form>
			</div>
			<!-- footer -->
			<div class="modal-footer">
				<button class="btn btn-block bg-gray" type="submit" form="f" name="submit">Log In</button>
			</div>

		</div>
	</div>
</div>

